/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

mat-dialog-container {
    background:white !important;
}
.mat-form-field-appearance-outline .mat-form-field-outline {
    color: black;
  }
/* #ab8dd7 */
::ng-deep .mat-select-value{    
  color: white!important;  }