.inp{
    font-weight: bolder;
    font-style: normal;
    margin-top: 25px;
    margin-left: 420px;
    color: black;
    opacity: 100%;
    text-align: center;
    font-size: 15px;
}
.btn{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-style: normal;
    margin-top: 0px;
    margin-left: 450px;
    opacity: 100%;

}

.title{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-style: normal;
    font-size: 75px;
    color: black;
    margin-top: 300px;
    /* margin-left: 410px; */
    text-align: center;
}


/* .disable:disabled {
    cursor: not-allowed;
    pointer-events: all !important;
  } */
  
  