<!-- <section>
    <form>
        <mat-form-field>
            <input type="text" matInput placeholder="Enter Location">
        </mat-form-field>
    </form>
</section> -->

<div class="container">
  <h1 class="title">Weather Forecast</h1>
<ul>
  <div>
    <mat-form-field class="inp" appearance="standard">
      <mat-label>What's your name?</mat-label>
      <input matInput [(ngModel)]="name">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    </mat-form-field>
  </div>
  <div class="btn">
    <button type="submit" [disabled]="!this.name"
    mat-raised-button [ngStyle]="{backgroundColor: 'black', color: 'white'}"
     (click)="openDialog()">Select Location</button>
  </div>
  <div *ngIf="location">
    You chose: <i>{{location}}</i>
  </div>
</ul>
</div>

