<h1 mat-dialog-title style=" 
font-family: 'Times New Roman', Times, serif; 
text-align: center;
font-size: 50px;
color: white;">
Hi {{data.name}}</h1>

<br>

<div mat-dialog-content>
  <p style="font-size: larger; 
  font-family: 'Times New Roman', Times, serif; 
  text-align: center;
  font-size: 30px;
  color: white;"> Enter your Location! </p>

<br>

  <mat-form-field style="font-size: larger; 
  font-family: 'Times New Roman', Times, serif; 
  margin-left: 100px; 
  "appearance="outline">
    <mat-label style="color: white;">Location</mat-label>
    <input matInput 
    style="color: white;"
    [(ngModel)]="data.location">
  </mat-form-field>
</div>

<div mat-dialog-actions 
style="font-size: larger; 
  font-family: 'Times New Roman', Times, serif; 
  margin-left: 108px;" >
  <button mat-raised-button (click)="onNoClick()" 
  [ngStyle]="{backgroundColor: 'black', color: 'white'}">No Thanks</button>
  <button mat-raised-button [mat-dialog-close]="data.location" cdkFocusInitial 
  [ngStyle]="{backgroundColor: 'black', color: 'white'}">Proceed</button>
</div>
